
.headerTitle{
  color: red;
  padding: 30px;
}

body{
  background-color: aquamarine;
}

.card{
  margin: 10px;
}

.cardGrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card img{
  height: 265px;
  width: 265px;
  border-radius: 15%;
}